body
	margin 0
	height 100vh
	user-select none
	background $body-backgroud-color
	font-family 'Helvetica Neue', Helvetica, sans-serif

	background -webkit-gradient(linear, right bottom, left top, color-stop(0, rgba(0, 0, 0, .3)), color-stop(100, rgba(0, 0, 0, 0))), url('http://f.cl.ly/items/2q1f3t0C3R1b0g081w3n/vwood.png')
	box-shadow 0 0 50px rgba(0, 0, 0, .5) inset, 0 1px rgba(212, 152, 125, .2) inset,0 5px 15px rgba(0, 0, 0, .5)
