$text-color = white
$body-backgroud-color = #AD131D


$panel-background-color = #291c2d

$brand-dark-color = #291c2d


$section-title-background-color = #787e9f
$section-background-color = darkgray


$knob-label-background-color = #787e9f


$border-bottom-color = #999
$border-left-color = #999
$border-top-color = #777


$key-gradient-from-color = #eee
$key-gradient-to-color = #fff


$higher-key-border-color = #000
$active-key-from-color = #fff
$active-key-to-color = #e9e9e9
$octave-highlight-color = #d3cdff


$active-led-color = #6eb300
$background-led-color = #C5C5C5
$inactive-led-color = rgba(40, 40, 40, .75)
