$rack-border-shadow = #450202

.dashboard
	height 100vh
	width 100vw
	display flex
	flex-direction column
	box-shadow inset 3px 3px 10px 1px $rack-border-shadow
	justify-content space-between
	align-items center

	.virtual-keyboard
		margin-top auto

.dashboard__brand
	margin $unit
	margin-top 0
	padding $unit
	padding-top 0
	color $text-color
	margin-left auto
	font-size 4rem
	line-height 2.6rem
	overflow auto

	&::before
		font-family 'Poiret One', cursive
		content "web lead"
		font-size 1.5em
		font-weight bold
	&::after
		font-family 'Audiowide', cursive
		content "2X"
		color $brand-dark-color
