// Units
$unit = 1rem
$negative-unit = -1rem

// Basic layouting
$hair-space = ($unit / 32)
$negative-hair-space = ($unit / 32)

// Panel
$panel-margin = $unit

// Information bar
$information-bar-height = 2 * $unit
