$midi-indicator-active = #34c945
$midi-indicator-inactive = #ff4f4f



.information-bar
	display flex
	height $information-bar-height
	width 100vw
	background-color rgba(0, 0, 0, .2)
	color $text-color
	justify-content space-around
	font-family monospace
	position fixed
	bottom 0
	//letter-spacing -1px

.information-bar__item,
.information-bar__gh-link,
.midi-indicator
	padding-right $unit
	padding-left $unit

.information-bar__item
	line-height $information-bar-height


.information-bar__gh-link
	height ($information-bar-height * .8)
	padding-top 7px

.midi-indicator
	display flex
	line-height $information-bar-height
	text-align center


.midi-indicator__blinker
	&::before
		content "MIDI"

.midi-indicator__blinker--active
	color $midi-indicator-active

.midi-indicator__status
	padding-left ($unit / 2)

.midi-indicator__status--active
	color $midi-indicator-active
	&::before
		content "connected"

.midi-indicator__status--inactive
	color $midi-indicator-inactive
	&::before
		content "not connected"

.midi-indicator__status--scanning
	color #a8a8a8
	&::before
		content "scanning devices"
