.information-bar
	display flex
	height $information-bar-height
	width 100vw
	background-color rgba(0, 0, 0, .2) 
	color $text-color
	justify-content space-around


.information-bar__item
	line-height $information-bar-height
	padding-right $unit
	padding-left $unit
