$lower-key-height = 3 * $unit
$lower-key-width = $unit
$higher-key-height = 1.5 * $unit
$higher-key-width = $unit / 2
$higher-key-left-margin = .25 * $negative-unit

$full-kbd-width = 75 * $lower-key-width

.keyboard
	margin $unit
	padding 0
	flex-grow 2
	display flex
	align-items flex-end
	justify-content center

	.keyboard__key
		margin 0
		padding 0
		list-style none
		position relative
		float left

		&.keyboard__key--lower
			height $lower-key-height
			width $lower-key-width

			border-left $hair-space solid
			border-bottom $hair-space solid $border-bottom-color
			background linear-gradient(to bottom, $key-gradient-from-color 0,  $key-gradient-to-color 100%)

		&.keyboard__key--current-octave
			background $octave-highlight-color

		&.keyboard__key--pressed
			background  linear-gradient(to bottom, $active-key-from-color 0, $active-key-to-color 100%)
			box-shadow 2px 0 3px rgba(0,0,0, .1) inset, -5px 5px 20px rgba(0,0,0, .4) inset,0 0 3px rgba(0,0,0, .4)
			background $octave-highlight-color			

		&.keyboard__key--higher
			height $higher-key-height
			width $higher-key-width
			margin 0
			margin-bottom @height
			margin-left $higher-key-left-margin
			z-index 2
			border 1px solid $higher-key-border-color = #000
			background linear-gradient(45deg, #222 0, #9E9E9E 100%)

		&.keyboard__key--a,
		&.keyboard__key--b,
		&.keyboard__key--e,
		&.keyboard__key--g,
		&.keyboard__key--f,
		&.keyboard__key--d,
		&.keyboard__key--c
			margin 0
			margin-left -.25 * $lower-key-width

		&.keyboard__key--e,
		&.keyboard__key--b
			margin-right .25 * $lower-key-width
		
		&.keyboard__key--full
			@media only screen and (max-width : 1280px)
				display none

		&.keyboard__key--big
			@media only screen and (max-width : 1080px)
				display none

		&.keyboard__key--medium
			@media only screen and (max-width : 898px)
				display none
