.keyboard
	flex-grow 2
	display flex
	align-items flex-end

	.key
		margin 0
		padding 0
		list-style none
		position relative
		float left

		&.lower
			height $lower-key-height
			width $lower-key-width
			z-index 1
			border-left $hair-space solid
			border-bottom $hair-space solid #bbb
			background linear-gradient(to bottom, #eee 0, #fff 100%)

			&:active
				border-top $hair-space solid #777
				border-left $hair-space solid #999
				border-bottom $hair-space solid #999
				background  linear-gradient(to bottom, #fff 0, #e9e9e9 100%)
				box-shadow 2px 0 3px rgba(0,0,0, .1) inset, -5px 5px 20px rgba(0,0,0, .2) inset,0 0 3px rgba(0,0,0, .2)

		&.higher
			height $higher-key-height
			width $higher-key-width
			margin 0
			margin-bottom @height
			margin-left $higher-key-left-margin
			z-index 2
			border 1px solid #000
			background linear-gradient(45deg, #222 0, #555 100%)

			&:active
				background linear-gradient(to right, #444 0, #222 100%)
				box-shadow -1px -1px 2px rgba(255,255,255, .2) inset, 0 -2px 2px 3px rgba(0,0,0, .6) inset, 0 1px 2px rgba(0,0,0, .5)

		&.a,
		&.b,
		&.e,
		&.g,
		&.f,
		&.d,
		&.c
			margin 0
			margin-left 0.5 * $negative-unit

		&.e,
		&.b
			margin-right .5 * $unit
		
		&.c3
			background #6b77a1

