.knob
	text-align center
	// width 100%
	width 45px
	height 55px	font-size 10px

.knob__label
	font-size 70%
	background-color $knob-label-background-color
	border-radius ($unit / 2)

.knob__dial
	font-size 70%
