.knob
	display flex
	//height $information-bar-height
	width 100%
	flex-direction column
	justify-content center


.knob__dialer

	//line-height $information-bar-height
	//padding-right $unit
	//padding-left $unit

.knob__label
	font-size 70%
	background-color $knob-label-background-color
	border-radius $unit
	//line-height $information-bar-height
	//padding-right $unit
	//padding-left $unit
