led($size = 20px, $color = #444444)
  width $size
  height $size
  background-color $background-led-color
  border-radius 50%
  box-shadow black 0 0 1px 0, $color $size * -.1 $size * -.2 $size * .6 2px inset, 0 0 $size * .5 0 $color

.led
  margin 10px auto
  
  &.active
    led(8px, $active-led-color)

  &.unactive
    led(8px, rgba(40, 40, 40, .75))