@import './variables'
@import './dimentions'
@import './colors'
@import './body'
@import './dashboard'
@import './keyboard'
@import './master-volume'
@import './information-bar'
@import './panel'
@import './knob'
@import './section'
@import './amplifier'
@import './filter'

@import './led'
@import './waveform-selector'
@import './nord-btn'


*
	box-sizing border-box
	
