@import './dimentions'
@import './colors'
@import './body'
@import './dashboard'
@import './keyboard'
@import './master-volume'
@import './information-bar'
@import './panel'
@import './knob'
@import './section'
@import './amplifier'
@import './filter'
@import './waveform-selector'
@import './led'

*
	box-sizing border-box
	list-style-type none