.nord-btn
	background-color #4b4b4b
	cursor pointer
	outline 0
	width $btn-width
	height $btn-height
	border-radius $btn-border-radius
	border 6px solid $btn-background-color
	
	&:active
		border-color black
		background-color $btn-background-color
