@import './mixins'

.option-picker
	margin 0 auto

.option-picker__label
	panel-label($knob-label-background-color)

.option-picker__list
	list-style-type none
	padding-left 4.5px
	margin-top 0
	margin-bottom 4px
	user-select none

.option-picker__item
	display flex
	align-items center

.option-picker__item--active
	led(6px, $active-led-color)

.option-picker__item--inactive
	led(6px, $inactive-led-color)

.option-picker__item-id
	margin-left 5px
	font-size 10px

.option-picker__btn
	nord-btn()
