.oscillators
    display flex
    justify-content space-between

.oscillators__osc1
    display inline-block

.oscillators__osc2
    display inline-block

.oscillators__extra
    display flex
    justify-content space-around


.oscillators__label
    font-weight bold
    text-align center
    color $section-title-background-color
    font-size 140%
    user-select none