.oscillators
    display flex
    justify-content space-between
    width 100%

.oscillators__osc1
    width 25%


.oscillators__osc2
    width 75%

.oscillators__extra
    display flex
    justify-content space-around


.oscillators__label
    font-weight bold
    text-align center
    color $section-title-background-color
    font-size 140%
    user-select none