.oscillators
    display flex
    justify-content space-between


.oscillators-extra
    display flex
    justify-content space-around

.oscillators__label
    font-weight bold
    text-align center
    color $section-title-background-color
    font-size 140%