.panel-controls
	display flex
	justify-content space-around
	color $text-color
	background-color $panel-background-color
	border-radius ($unit / 2)
	margin $unit
	padding $unit


.panel-controls__column
	flex-grow 1
	margin-right $unit

	&:last-of-type
		margin-right 0

	&:nth-of-type(2)
		.knob,
		.option-picker
			width 20%

		.knob:last-of-type
			margin-top 1rem // kinda similar to adsr knob image height FIXME

		.switch
			width 40%

		.section__content
			padding-top 0

	.section
		margin-bottom $unit

		&:last-of-type
			margin-bottom 0

@media only screen and (max-width : 930px)
	.panel-controls__column:last-of-class
		margin-right 0

	.panel-controls__instructions
		display none

.panel__brand
	display flex
	justify-content space-around
	margin $unit
	margin-top 0
	padding $unit
	padding-top 0
	color $text-color
	margin-left auto
	font-size 3rem
	line-height 2.6rem
	overflow auto
	//text-align justify

	:nth-of-type(1)
		font-family 'Poiret One', cursive
		font-size 1.5em
		font-weight bold

	:nth-of-type(2)
		font-family 'Audiowide', cursive
		color $brand-dark-color

	:nth-of-type(3)
		font-family 'Maven Pro', sans-serif
		display block
		font-size 30px
		letter-spacing 22px
		margin-right -20px

		&::after
			display inline-block
			width 100%
			content ''
