.panel
	display flex
	justify-content space-around
	color $text-color
	background-color $panel-background-color
	border-radius ($unit / 2)
	margin $unit
	padding $unit

.panel__column
	flex-grow 1
	margin-right $unit

	&:last-of-type
		margin-right 0

	.section
		margin-bottom $unit

		&:last-of-type
			margin-bottom 0
			
.pannel__label
	font-size 70%
	background-color $knob-label-background-color
	border-radius ($unit / 2)