.section
	background-color $section-background-color
	color $text-color
	border-radius ($unit / 2)

.section__title,
.section__content
	padding-left $unit
	padding-right $unit

.section__title
	height $unit
	background-color $section-title-background-color
	border-top-left-radius inherit
	border-top-right-radius inherit
	padding-bottom $unit
	font-family monospace
