.section
	background-color $section-background-color
	color $text-color
	border-radius ($unit / 2)

.section--with-bevel
	.section__content
		padding 0

.section__content
	display flex
	flex-wrap wrap
	padding ($unit / 2) $unit

.section__content--beveled
	padding 0

.section__title
	height $unit
	letter-spacing 1px
	background-color $section-title-background-color
	border-top-left-radius inherit
	border-top-right-radius inherit
	padding-bottom $unit
	font-family monospace
	padding-left ($unit /2.5)
	user-select none
