@import './mixins'

.switch
	margin 0 auto
	text-align center
	
.switch__list
	list-style-type none
	display flex
	flex-direction column
	padding-left 4.5px
	margin-top 0
	margin-bottom 4px
	user-select none

.switch__item
	padding-left 4.5px
	margin-bottom 4px

.switch__label,
.switch__item--active,
.switch__item--inactive
	display inline-block

.switch__item--active
	led(6px, $active-led-color)

.switch__item--inactive
	led(6px, $inactive-led-color)

.switch__label
	font-size 10px
	margin-left 5px

.switch__btn
	nord-btn()
