.synth-panel
	display flex
	justify-content space-between
	color $text-color
	background-color #291c2d
	border-radius 10px
	margin 10px 10px 10px 10px


	&.panel-left-section
		flex-direction column
		background-color #b1b3cc
		width 100%


	&.panel-middle-section
		margin-left 0px
		margin-right 0px
		background-color #b1b3cc
		width 100%


	&.panel-right-section
		background-color #b1b3cc
		width 100%

	

