$body-backgroud-color = #222

$unit = 1rem
$negative-unit = -1rem

$hair-space = ($unit / 32)
$negative-hair-space = ($unit / 32)

$lower-key-height = 3 * $unit
$lower-key-width = $unit

$higher-key-height = 1.5 * $unit
$higher-key-width = $unit / 2
$higher-key-left-margin = 0.25 * $negative-unit

$information-bar-height = 2 * $unit

$text-color = white
