$unit = 1rem
$negative-unit = -1rem

$hair-space = ($unit / 32)
$negative-hair-space = ($unit / 32)

$lower-key-height = 3 * $unit
$lower-key-width = $unit

$higher-key-height = 1.5 * $unit
$higher-key-width = $unit / 2
$higher-key-left-margin = .25 * $negative-unit

$information-bar-height = 2 * $unit

$text-color = white

$border-radius = ($unit / 2)

$led-size = 8px

$btn-width = 45px
$btn-height = ($btn-width / 2.2)
$btn-background-color = #363636
$btn-border-radius = 2px

